/*VARIABLES*/

:root {
    --blanco: aliceblue;
    --fondo: #010a1c;
    --fondo-alfa: #010a1cc7;
    --color-dsh: #1560BD;
    --color-dsh-alfa: #1560bc83;
    --color-fondo-menu: #ffffffcc;
    --fondo-formulario: #0034618f;
    --color-enlaces: deepskyblue;
    --color-enlaces-alfa: #00bfff80;

}

/* GENERALES */

body {
    background-color: var(--fondo);
    color: var(--blanco);
}

a {
    color: var(--color-enlaces);
}

a:hover {
    color: var(--blanco);
}

/*MENÚ*/

.nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-fondo-menu);
    padding: 10px;
    position: fixed;
}

.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu ul li {
    padding: 0 20px;
    font-size: 20px;
}

.nav-menu ul li a {
    color: #1560BD;
    font-size: 20px;
    margin-right: 20px;
}

.nav-menu ul li a:hover {
    color: var(--color-enlaces);
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.logo-nav {
    width: 5%;
}

/* ENCAVEZADO */

.container {
    width: 100%;
    height: 700px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image:
        linear-gradient(to bottom, var(--color-enlaces-alfa), var(--color-dsh-alfa)),
        url(/asset/img/_08bdbecd-8812-47e6-9021-df7f6440f1d7.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*LOGO DSH HEADER*/

.logo_dsh {
    width: 20%;
    height: auto;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-top: 5%;
}

.dsh--p {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: var(--blanco);
}

/*BUTTON*/

.dsh--button {

    min-width: 130px;
    height: 40px;
    color: var(--blanco);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #d90429;
    z-index: 1;
    margin-top: 1%;
}

.css-button-shadow-border-sliding--red {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #d90429;
    z-index: 1;
}

.dsh--button:hover:after {
    width: 100%;
    left: 0;
}

.dsh--button:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #ef233c;
    right: 0;
}

.dsh--button:active {
    top: 2px;
}

.dsh--button a {
    color: #fff;
}

/* MAIN */

.main--presentacion{
    border: 1px solid violet;
    width: 100%;
    height: 600px;
}

.main {
    width: auto;
    height: auto;
    margin: auto;
}

/* ARTICULOS */

.main--article {
    float: left;
    width: auto;
    height: auto;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.article--title {
    padding: 50px;
    text-align: center;
    font-size: 40px;
    color: var(--color-enlaces);
}

.article--p {

    padding-left: 100px;
    padding-right: 100px;
    padding-block-end: 10px;
    font-size: 25;

}

/* SERVICIOS*/

.servicios-cajas{
    border: 1px solid wheat;
    width: 100%;
    height: 1000px;
    background-color: var(--color-fondo-menu);
}

.caracteristicas--title{
    border: 1px solid blue;
    width: 100%;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: var(--fondo);
}

.caracteristicas-h4 {
    border: 1px solid rgb(0, 255, 8);
    text-align: center;
    font-size: 25px;
    color: var(--color-dsh);

}

.caracteristicas-p {
    border: 1px solid rgb(174, 0, 255);
    padding: 10px;
    color: var(--fondo);
}

.caracteristicas-item{
    border: 1px solid red;
    display: block;
    flex-direction: column;
    float: inline-end;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 250px;
    padding-bottom: 10px;
    margin: 20px;
    background-color: var(--blanco);
    box-shadow: 0px 5px 20px var(--fondo-alfa)
}

.clearfix {
    float: none;
    clear: both;
}

/* MARCAS */

.marcas {
    width: 100%;
    height: 700px;
    background-image:
        linear-gradient(to bottom, var(--color-dsh-alfa), var(--color-enlaces-alfa)),
        url(/asset/img/montevideo\ marcas.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.marcas--title {
    padding: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.img--marcas {
    display: flex;
    float: left;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    width: 200px;
    padding: 20px auto;
}

.img--antel {
    display: flex;
    float: left;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    width: 400px;
    padding: 20px auto;
}

.img--im {
    display: flex;
    float: left;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    width: 140px;
    padding: 20px auto;
}

.img--Radisson {
    display: flex;
    float: left;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    width: 250px;
    padding: 20px auto;
}

.img--sodre {
    display: flex;
    float: left;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    width: 250px;
    padding: 20px;
}

/*FORMULARIO DE CONTACTO*/

.sec-form {
    justify-content: center;
    align-items: center;
    padding: 100px;
    display: flex;
    background-image: url(/asset/img/fondo-form.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    height: 500;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 20 rgba(0, 0, 0, 2);
    border-radius: 20px;
    background-color: var(--color-dsh-alfa);
    box-shadow: 0px 1px 10px var(--fondo);
    width: 500px;

}

.form-title {
    text-align: center;
    font-size: 40px;
}

.form-txt {
    margin-bottom: 16px;
    display: flex;
    margin-left: 70px;
}

.form-a {
    display: inline-block;
    margin-inline-start: 10px;
    color: var(--color-enlaces);
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 25px;
}

.form-a:hover {
    color: rgb(255, 255, 255);
}

.input-group {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 15px;
}

input,
textarea {
    background-color: rgb(224, 231, 240);
    padding: 10px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
}

::placeholder {
    font-size: 15px;
}

:focus {
    outline: 1px solid var(--color-enlaces);
}

.btn-form {
    background-color: deepskyblue;
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0px 1px 10px var(--fondo);
    cursor: pointer;
    transition: 500ms
}

.btn-form:hover {
    background-color: rgba(240, 248, 255, 0);
    border: 3px solid deepskyblue;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    transition: 500ms
}

/*Footer*/

footer {
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: rgb(0, 18, 29);
    color: #fff;
    text-align: center;
    font-size: 15px;
}

/*Boton Whatsapp*/

.btn-whatsapp {
    position: fixed;
    width: 45px;
    right: 45;
    line-height: 85px;
    border-radius: 50px;
    bottom: 85px;
    right: 30px;
    box-shadow: 0px 1px 10px black;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.img-whatsapp {
    width: 45px;
}